const settings = {
  CLIENT_ID: '1111111111111111111',
  COGNITO_HOSTING_DOMAIN: 'xxxxxxxxxxxx.auth.ap-northeast-1.amazoncognito.com',
  TOKEN_SCOPES: ['email', 'openid', 'profile', 'aws.cognito.signin.user.admin'],
};

export const cognitoAuthData = (redirectUrl) => ({
  ClientId: settings.CLIENT_ID,
  AppWebDomain: settings.COGNITO_HOSTING_DOMAIN,
  TokenScopesArray: settings.TOKEN_SCOPES,
  RedirectUriSignIn: redirectUrl,
  RedirectUriSignOut: redirectUrl,
});

export const COGNITO_ID_TOKEN_COOKIE_NAME = 'cognito-id-token';
